In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
pd.options.display.float_format = "{:.4f}".format

In [9]:
class StockAnalyser():
    def __init__(self, ticker, start, end):
        self.ticker = ticker
        self.start = start
        self.end = end
        self.get_data()
    def get_data(self):
        """
            loads financial data from yfinance
        """
        raw = yf.download(self.ticker, self.start, self.end).Close.to_frame()
        self.data = raw

In [10]:
stock = StockAnalyser("AAPL", "2015-01-01","2019-12-31")

[*********************100%%**********************]  1 of 1 completed

In [11]:
stock.data

             Close
Date
2015-01-02 27.3325
2015-01-05 26.5625
2015-01-06 26.5650
2015-01-07 26.9375
2015-01-08 27.9725
...            ...
2019-12-23 71.0000
2019-12-24 71.0675
2019-12-26 72.4775
2019-12-27 72.4500
2019-12-30 72.8800

[1257 rows x 1 columns]